@import 'colors.scss';

.header {
    width: 100vw;
    height: 10vh;
    display:flex;
  
    &__container {
      width: 90%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      &-h1 {
        font-size: 32px;
      }
  
      &-switch-button {
        height: fit-content;
        background-color: inherit;
        outline: none; border: none;
        font-size:20px;
        padding: 0.5rem 1rem;
        cursor: pointer;
      }
      .header__container-switch-button-dark{
        color:white;
      }
    }
  }
  .header-light{
    background: white;
  }

  .header-dark{
    background: $dark-mode-elements;
    color: white;
  }
  