@import 'reset.scss';
@import '_header.scss';
@import '_country-list.scss';
@import '_country.scss';
@import 'colors.scss';
@import '_detal.scss';
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

*{
    font-family: "Nunito Sans", sans-serif;
}

main{
    width:100vw;
    .filter{
        width:90%;
        margin: 2rem auto;
        display:flex;
        @media screen and (max-width:768px) {
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
        }
        justify-content: space-between;
        align-items: center;
        
        .input{
            background-color: white;
            height: 100%;
            width: 20%;
            box-shadow: 0px 0px 23px -14px rgba(66, 68, 90, 1);
            display:flex;
            align-items: center;
            .icon{
                padding: .5rem;
                padding-right: 0;
                width: 8%;
                height: 100%;
                
            }
            input{
                width: 95%;
                padding: 1rem 1rem;
                border:none; outline: none;
            }
            .inputForm-dark{
                background-color: $dark-mode-elements;
                color:white;
            }
            .inputForm-dark::placeholder{
                color:white;
            }
            @media screen and (max-width:768px) {
                margin-bottom: 1rem;
            }
        }
        .input-dark{
            color:white;
            background-color: $dark-mode-elements;
        }
        .input-light{
            background-color: $light-mode-bg;
        }
        select {
            font-size: 16px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #fff;
            color: #555;
        }
        .select-dark{
            background-color: $dark-mode-elements;
            color:white;
            border:none;
        }

        select:focus {
            outline: none;
            border-color: #007bff;
            box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
        }
        select:hover {
        border-color: #999;
        }
    }
}
.main-light{
    background-color: $light-mode-bg;
}
.main-dark{
    background-color: $dark-mode-bg;
}

