@import '_header.scss';
@import '_country-list.scss';
@import '_country.scss';
@import 'colors.scss';
@import '_detal.scss';
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

*{
    font-family: "Nunito Sans", sans-serif;
}

main{
    width:100vw;
    background: $light-mode-bg;
    .filter{
        width:90%;
        margin: 2rem auto;
        display:flex;
        @media screen and (max-width:768px) {
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
        }
        justify-content: space-between;
        align-items: center;
        
        .input{
        
            background: white;
            width: 20%;
            box-shadow: 0px 0px 23px -14px rgba(66, 68, 90, 1);
            display:flex;
            .icon{
                margin-left:.5rem;
                width: 8%;
            }
            input{
                width: 95%;
                padding: 1rem 1rem;
                border:none; outline: none;
            }
            @media screen and (max-width:768px) {
                margin-bottom: 1rem;
            }
        }
        select {
            font-size: 16px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #fff;
            color: #555;
        }

        select:focus {
            outline: none;
            border-color: #007bff;
            box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
        }
        select:hover {
        border-color: #999;
        }
    }
}

