@import '_header.scss';
@import '_country-list.scss';
@import '_country.scss';
@import 'colors.scss';

main{
    width:100vw;
    background: $light-mode-bg;
    .filter{
        width:90%;
        margin: 2rem auto;
        display:flex;
        justify-content: space-between;
        align-items: center;
        
        .input{
            background: white;
            width: fit-content;
            box-shadow: 0px 0px 23px -14px rgba(66, 68, 90, 1);
            input{
                padding: 1rem 2rem;
                border:none; outline: none;
            }
        }
        select {
            font-size: 16px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #fff;
            color: #555;
        }

        select:focus {
            outline: none;
            border-color: #007bff;
            box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
        }
        select:hover {
        border-color: #999;
        }
    }
}

